*{
    box-sizing: border-box;
}

body, html{
    margin: 0px;
    padding:0px;
}
/*1.FORM */
form{
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    height: 100vh;
    font-size: 24px;
}

/*1.1 CONTAINER*/
.container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

/*1.1.1*/
.details{
    flex:3;
}
/* 1.1.1.1 ADDRESS*/
.address .form-group{
    display: flex;
    margin: 1em;
}

.address .form-group label{
    flex: 1;
    margin-right: 1em;
}

.address .form-group input{
    flex: 3;
    font-size: 1em;
}

/* 1.1.1.2 SHIPPING*/

.shipping{
    text-align: center;
}

.shipping select{
    font-size: 1em;
    margin-top: .5em;
}

/* 1.1.1.3 PAYMENT*/
.payment{
    margin-top: 1em;
    text-align: center;
}

.payment div:nth-child(2){
    margin-top: .5em;
    display: flex;
}

.payment div:nth-child(2) label{
    flex: 1;
}

/* 1.1.1.3 CHECKS*/
.checks{
    display: flex;
}

.checks label{
    flex: 1;
    margin-top: 1em;
    text-align: center;
}

.checks label:nth-child(1){
    order: 2;
}

/* 1.1.2 */
.comments{
    flex:1;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.comments textarea{
    flex: 1;
}

/*1.2 SUBMIT*/
.submit{
    text-align: center;
}

.submit input{
    width: 20vw;
    background-color: rgb(255, 105, 105);
}

/* STYLING*/

textarea, select, input{
    background-color: rgb(247, 221, 221);
    border-radius: 10px;
}